<script>
  if (typeof jQuery == 'undefined') {
    document.write('<script src="https://code.jquery.com/jquery-3.5.1.min.js"></scr' + 'ipt>');
  }
</script>

<script src="/assets/js/jquery.magnific-popup.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {

    $('.my-image-popup').magnificPopup({
      type: 'image',
      closeOnContentClick: true,
      zoom: {
        enabled: true,
        duration: 300,
        easing: 'ease-in'
      }
    });
  });
</script>

<script type="text/javascript">
$('.my-gallery-popup').each(function() { // the containers for all your galleries
  $(this).magnificPopup({
      delegate: 'a', // the selector for gallery item
      type: 'image',
      mainClass: 'mfp-with-zoom',
      gallery: {
        enabled: true
      },
      zoom: {
        enabled: true,
        easing: 'ease-in',
        duration: 400 // don't foget to change the duration also in CSS
      }
  });
});
</script>
