.patent,
.paper {
  color: #FFF;          /* text color */
  font-weight: bold;
  padding: 1px;
  text-align: center;
  border-radius: 8px;
  width: 150px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: inline-block;   /* to allow inline span */
}

.patent {
  background-color: #5995DA;
  border: 2px solid #5995DA;
}

.paper {
  background-color: #ffa500;
  border: 2px solid #ffa500;
}
